/* Ideas By Elliot style */
/* Colors */
#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}
#simplesharer .simplesharer-button-itemlist li {
  margin: 0;
  padding: 0;
}
#simplesharer .simplesharer-button-itemlist li a {
  width: 4.5vw;
  max-width: 108px;
  min-width: 48px;
  text-align: center;
}
#simplesharer .simplesharer-button-itemlist li a i {
  font-size: 1.75vw;
  display: block;
  padding: 0.5vw 0 0 0;
}
#simplesharer .simplesharer-button-itemlist li a span {
  font-size: 1vw;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-facebook-button-item a:hover {
  background: linear-gradient(to bottom, #5f7ec1 0%, #3b5998 40%, #263961 100%);
  background-color: #3b5998;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-twitter-button-item a:hover {
  background: linear-gradient(to bottom, #90c9df 0%, #55acce 40%, #3085a7 100%);
  background-color: #55acce;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-pinterest-button-item a:hover {
  background: linear-gradient(to bottom, #e4565b 0%, #cc2127 40%, #8a161a 100%);
  background-color: #cc2127;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-linkedin-button-item a:hover {
  background: linear-gradient(to bottom, #2ac5ff 0%, #00a0dc 40%, #006890 100%);
  background-color: #00a0dc;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-tumblr-button-item a:hover {
  background: linear-gradient(to bottom, #516b8d 0%, #35465c 40%, #19212b 100%);
  background-color: #35465c;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-reddit-button-item a:hover {
  background: linear-gradient(to bottom, #ff7d4d 0%, #ff4500 40%, #b33000 100%);
  background-color: #ff4500;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-email-button-item a:hover {
  background: linear-gradient(to bottom, #595959 0%, #333333 40%, #0d0d0d 100%);
  background-color: #333333;
}
