/* Magic Circle style */
/* Colors */
#block-simplesharer-simplesharer {
  display: block;
}

#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style-type: none;
}
#simplesharer .simplesharer-button-itemlist li {
  margin: 0;
  padding: 0;
}
#simplesharer .simplesharer-button-itemlist li a {
  text-align: center;
  font-size: 3vw;
  line-height: 6vw;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
}
#simplesharer .simplesharer-button-itemlist li a strong {
  display: none;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-facebook-button-item a {
  background: #3b5998;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-facebook-button-item a:hover {
  background: #4c70ba;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-twitter-button-item a {
  background: #55acce;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-twitter-button-item a:hover {
  background: #7dbfd9;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-pinterest-button-item a {
  background: #cc2127;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-pinterest-button-item a:hover {
  background: #e04046;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-linkedin-button-item a {
  background: #00a0dc;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-linkedin-button-item a:hover {
  background: #10beff;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-tumblr-button-item a {
  background: #35465c;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-tumblr-button-item a:hover {
  background: #485f7c;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-email-button-item a {
  background: #333333;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-email-button-item a:hover {
  background: #4d4d4d;
}
