/* Work As One style */
/* Colors */
.block-simplesharer h2.block-title {
  font-size: 2em;
  text-align: center;
}

#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}
#simplesharer .simplesharer-button-itemlist li {
  margin: 0;
  padding: 0;
}
#simplesharer .simplesharer-button-itemlist li a {
  display: block;
  width: 8.5vw;
  height: 2vw;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2vw;
  padding: 0.25em;
}
#simplesharer .simplesharer-button-itemlist li a i {
  margin-right: 0.5em;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-facebook-button-item a:hover {
  background: #3b5998;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-twitter-button-item a:hover {
  background: #55acce;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-pinterest-button-item a:hover {
  background: #cc2127;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-linkedin-button-item a:hover {
  background: #00a0dc;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-tumblr-button-item a:hover {
  background: #35465c;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-reddit-button-item a:hover {
  background: #ff4500;
}
#simplesharer .simplesharer-button-itemlist li.simplesharer-email-button-item a:hover {
  background: #333333;
}
