/* Ideas By Elliot style */

@import "mixins";

#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    a {
      width: 4.5vw;
      max-width: 108px;
      min-width: 48px;
      text-align: center;
      &:hover {
      }
      i {
        font-size: 1.75vw;
        display: block;
        padding: 0.5vw 0 0 0;
      }
      span {
        font-size: 1vw;
      }
    }
    &.simplesharer-facebook-button-item a:hover {
      @include gradient-background($facebook-color);
    }
    &.simplesharer-twitter-button-item a:hover {
      @include gradient-background($twitter-color);
    }
    &.simplesharer-pinterest-button-item a:hover {
      @include gradient-background($pinterest-color);
    }
    &.simplesharer-linkedin-button-item a:hover {
      @include gradient-background($linkedin-color);
    }
    &.simplesharer-tumblr-button-item a:hover {
      @include gradient-background($tumblr-color);
    }
    &.simplesharer-reddit-button-item a:hover {
      @include gradient-background($reddit-color);
    }
    &.simplesharer-email-button-item a:hover {
      @include gradient-background(#333333);
    }
  }
}
