/* Magic Circle style */

@import "mixins";

#block-simplesharer-simplesharer {
  display: block;
}

#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    a {
      text-align: center;
      font-size: 3vw;
      line-height: 6vw;
      height: 6vw;
      width:6vw;
      border-radius: 50%;
      strong {
        display: none;
      }
    }
    &.simplesharer-facebook-button-item a {
      background: $facebook-color;
      &:hover {
        background: lighten($facebook-color, 10%);
      }
    }
    &.simplesharer-twitter-button-item a {
      background: $twitter-color;
      &:hover {
        background: lighten($twitter-color, 10%);
      }
    }
    &.simplesharer-pinterest-button-item a {
      background: $pinterest-color;
      &:hover {
        background: lighten($pinterest-color, 10%);
      }
    }
    &.simplesharer-linkedin-button-item a {
      background: $linkedin-color;
      &:hover {
        background: lighten($linkedin-color, 10%);
      }
    }
    &.simplesharer-tumblr-button-item a {
      background: $tumblr-color;
      &:hover {
        background: lighten($tumblr-color, 10%);
      }
    }
    &.simplesharer-email-button-item a {
      background: #333333;
      &:hover {
        background: lighten(#333333, 10%);
      }
    }
  }
}
