/* Work As One style */

@import "mixins";

.block-simplesharer h2.block-title {
  font-size: 2em;
  text-align: center;
}

#simplesharer .simplesharer-button-itemlist {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    a {
      display: block;
      width: 8.5vw;
      height: 2vw;
      text-align: center;
      font-size: 1.5vw;
      line-height: 2vw;
      padding: 0.25em;
      i {
        margin-right: 0.5em;
      }
    }
    &.simplesharer-facebook-button-item a:hover {
      background: $facebook-color;
    }
    &.simplesharer-twitter-button-item a:hover {
      background: $twitter-color;
    }
    &.simplesharer-pinterest-button-item a:hover {
      background: $pinterest-color;
    }
    &.simplesharer-linkedin-button-item a:hover {
      background: $linkedin-color;
    }
    &.simplesharer-tumblr-button-item a:hover {
      background: $tumblr-color;
    }
    &.simplesharer-reddit-button-item a:hover {
      background: $reddit-color;
    }
    &.simplesharer-email-button-item a:hover {
      background: #333333;
    }
  }
}
